# Predict Energy Consumption

In [72]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense, Input
from keras.optimizers import Adam
from keras.regularizers import l2
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from tensorflow.keras.callbacks import EarlyStopping

## Load Data

In [4]:
#load Traning data
df_train=pd.read_csv('df_train.csv')
df_test=pd.read_csv('df_test.csv')

In [6]:
df_train.head()
df_test.head()

,date,power_consumption,year,semester,quarter,day_in_week,week_in_year,day_in_year,month
0,4/1/2010,1687.440,2010,1,2,Thu,13,91,4
1,4/2/2010,1648.622,2010,1,2,Fri,14,92,4
2,4/3/2010,1805.278,2010,1,2,Sat,14,93,4
3,4/4/2010,1690.388,2010,1,2,Sun,14,94,4
4,4/5/2010,1118.820,2010,1,2,Mon,14,95,4

## Data Cleaning

Convert the class of the date column from "character" to "Date", and the class of day_in_week column from character to factor for both datasets. Create indicator variables for factor columns

In [10]:
# Check the current data type of the 'date' column
print(df_train['date'].dtype)

object

In [12]:
# Convert 'date' column to datetime
df_train['date'] = pd.to_datetime(df_train['date'], format='%m/%d/%Y')
df_test['date'] = pd.to_datetime(df_test['date'], format='%m/%d/%Y')

In [14]:
# Check the current data type of the 'day_in_week' column
print(df_train['day_in_week'].dtype) 
print(df_test['day_in_week'].dtype) 

# Convert 'day_in_week' column to factor (categorical) type
df_train['day_in_week'] = pd.Categorical(df_train['day_in_week'])
df_test['day_in_week'] = pd.Categorical(df_test['day_in_week'])

object
object

In [16]:
df_train.head()

,date,power_consumption,year,semester,quarter,day_in_week,week_in_year,day_in_year,month
0,2006-12-16,1209.176,2006,2,4,Sat,50,350,12
1,2006-12-17,3390.460,2006,2,4,Sun,51,351,12
2,2006-12-18,2203.826,2006,2,4,Mon,51,352,12
3,2006-12-19,1666.194,2006,2,4,Tue,51,353,12
4,2006-12-20,2225.748,2006,2,4,Wed,51,354,12

In [18]:
df_train_one_hot = pd.get_dummies(df_train, columns=['day_in_week'])
df_test_one_hot = pd.get_dummies(df_test, columns=['day_in_week'])

In [20]:
df_train_one_hot.head()

,date,power_consumption,year,semester,quarter,week_in_year,day_in_year,month,day_in_week_Fri,day_in_week_Mon,day_in_week_Sat,day_in_week_Sun,day_in_week_Thu,day_in_week_Tue,day_in_week_Wed
0,2006-12-16,1209.176,2006,2,4,50,350,12,False,False,True,False,False,False,False
1,2006-12-17,3390.460,2006,2,4,51,351,12,False,False,False,True,False,False,False
2,2006-12-18,2203.826,2006,2,4,51,352,12,False,True,False,False,False,False,False
3,2006-12-19,1666.194,2006,2,4,51,353,12,False,False,False,False,False,True,False
4,2006-12-20,2225.748,2006,2,4,51,354,12,False,False,False,False,False,False,True

In [22]:
df_train_one_hot.shape

(1202, 15)

In [24]:
df_train_one_hot.describe()

,date,power_consumption,year,semester,quarter,week_in_year,day_in_year,month
count,1202,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000,1202.000000
mean,2008-08-07 12:00:00,1592.959253,2008.123128,1.472546,2.415141,25.455907,175.179700,6.256240
min,2006-12-16 00:00:00,0.000000,2006.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2007-10-12 06:00:00,1179.841500,2007.000000,1.000000,1.000000,11.000000,76.000000,3.000000
50%,2008-08-07 12:00:00,1583.971000,2008.000000,1.000000,2.000000,25.000000,171.000000,6.000000
75%,2009-06-03 18:00:00,1952.951500,2009.000000,2.000000,3.000000,39.000000,271.000000,9.000000
max,2010-03-31 00:00:00,4773.386000,2010.000000,2.000000,4.000000,53.000000,366.000000,12.000000
std,NaN,632.497568,0.972467,0.499453,1.153442,15.623968,109.371519,3.573317

In [26]:
df_train_one_hot.isnull().sum()

date                 0
power_consumption    0
year                 0
semester             0
quarter              0
week_in_year         0
day_in_year          0
month                0
day_in_week_Fri      0
day_in_week_Mon      0
day_in_week_Sat      0
day_in_week_Sun      0
day_in_week_Thu      0
day_in_week_Tue      0
day_in_week_Wed      0
dtype: int64

In [28]:
df_test_one_hot.isnull().sum()

date                 0
power_consumption    0
year                 0
semester             0
quarter              0
week_in_year         0
day_in_year          0
month                0
day_in_week_Fri      0
day_in_week_Mon      0
day_in_week_Sat      0
day_in_week_Sun      0
day_in_week_Thu      0
day_in_week_Tue      0
day_in_week_Wed      0
dtype: int64

## Prepare training and testing data for modeling

In [31]:
# Define features and target
X_train = df_train_one_hot.drop(['date', 'power_consumption'], axis=1)
y_train = df_train_one_hot['power_consumption']

X_test = df_train_one_hot.drop(['date', 'power_consumption'], axis=1)
y_test = df_train_one_hot['power_consumption']

X_train

,year,semester,quarter,week_in_year,day_in_year,month,day_in_week_Fri,day_in_week_Mon,day_in_week_Sat,day_in_week_Sun,day_in_week_Thu,day_in_week_Tue,day_in_week_Wed
0,2006,2,4,50,350,12,False,False,True,False,False,False,False
1,2006,2,4,51,351,12,False,False,False,True,False,False,False
2,2006,2,4,51,352,12,False,True,False,False,False,False,False
3,2006,2,4,51,353,12,False,False,False,False,False,True,False
4,2006,2,4,51,354,12,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,2010,1,1,13,86,3,False,False,True,False,False,False,False
1198,2010,1,1,13,87,3,False,False,False,True,False,False,False
1199,2010,1,1,13,88,3,False,True,False,False,False,False,False
1200,2010,1,1,13,89,3,False,False,False,False,False,True,False
1201,2010,1,1,13,90,3,False,False,False,False,False,False,True

In [49]:
X_test

,year,semester,quarter,week_in_year,day_in_year,month,day_in_week_Fri,day_in_week_Mon,day_in_week_Sat,day_in_week_Sun,day_in_week_Thu,day_in_week_Tue,day_in_week_Wed
0,2006,2,4,50,350,12,False,False,True,False,False,False,False
1,2006,2,4,51,351,12,False,False,False,True,False,False,False
2,2006,2,4,51,352,12,False,True,False,False,False,False,False
3,2006,2,4,51,353,12,False,False,False,False,False,True,False
4,2006,2,4,51,354,12,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,2010,1,1,13,86,3,False,False,True,False,False,False,False
1198,2010,1,1,13,87,3,False,False,False,True,False,False,False
1199,2010,1,1,13,88,3,False,True,False,False,False,False,False
1200,2010,1,1,13,89,3,False,False,False,False,False,True,False
1201,2010,1,1,13,90,3,False,False,False,False,False,False,True

In [53]:
X_val, X_test, y_val, y_test = train_test_split(X_train, y_train, test_size=0.3, random_state=30)

## Normalizing the data

In [57]:
scaler = StandardScaler()
X_train_norm = scaler.fit_transform(X_train)
X_val_norm = scaler.transform(X_val)
X_test_norm = scaler.transform(X_test)

## Train the Model

In [258]:
from keras.models import Sequential
from keras.layers import Dense, Input
from keras.initializers import glorot_uniform

# Define the model
model = Sequential()

# Add the input layer with specified shape
model.add(Input(shape=(X_train_norm.shape[1],)))

# Add Dense layers with Xavier initialization
model.add(Dense(100, activation='relu', kernel_initializer=glorot_uniform()))
model.add(Dense(50, activation='relu', kernel_initializer=glorot_uniform()))
model.add(Dense(15, activation='relu', kernel_initializer=glorot_uniform()))

# Output layer (typically doesn't require Xavier initialization)
model.add(Dense(1, activation='linear', kernel_initializer=glorot_uniform()))

# Print model summary
model.summary()

Model: "sequential_19"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_62 (Dense)                │ (None, 100)            │         1,400 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_63 (Dense)                │ (None, 50)             │         5,050 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_64 (Dense)                │ (None, 15)             │           765 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_65 (Dense)                │ (None, 1)              │            16 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 7,231 (28.25 KB)

 Trainable params: 7,231 (28.25 KB)

 Non-trainable params: 0 (0.00 B)

In [260]:
# Compile the model
model.compile(optimizer='adam', loss='mse', metrics=['mse'])

# Define early stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

In [262]:
# Ensure all data types are correct
X_train_norm = X_train_norm.astype(float)
X_val_morm = X_val_norm.astype(float)
X_test_morm = X_test_norm.astype(float)
y_train = y_train.astype(float)
y_val = y_val.astype(float)
y_test = y_test.astype(float)

In [278]:
history = model.fit(X_train_norm, y_train, epochs=5000, verbose=1, validation_data=(X_val_norm, y_val),batch_size=1)

Epoch 1/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 223348.9688 - mse: 223348.9688 - val_loss: 207026.9688 - val_mse: 207026.9688
Epoch 2/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 208957.2344 - mse: 208957.2344 - val_loss: 220940.7500 - val_mse: 220940.7500
Epoch 3/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 195158.2969 - mse: 195158.2969 - val_loss: 207287.7812 - val_mse: 207287.7812
Epoch 4/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 225520.7812 - mse: 225520.7812 - val_loss: 211902.3281 - val_mse: 211902.3281
Epoch 5/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 206029.6719 - mse: 206029.6719 - val_loss: 207572.2969 - val_mse: 207572.2969
Epoch 6/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 198500.0781 - mse: 198500.0781 - val_loss: 210281.0625 - val_mse: 210281.0625
Epoch 7/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 229930.5625 - mse: 229930.5625 - val_loss: 208421.0781 - val_mse: 208421.0781
Epoch 8/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 217757.0781 - mse: 217757.0781 - val_loss: 206932.6562 - val_mse: 206932.6562
Epoch 9/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 218241.5469 - mse: 218241.5469 - val_loss: 202821.2188 - val_mse: 202821.2188
Epoch 10/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 225405.2656 - mse: 225405.2656 - val_loss: 204052.6406 - val_mse: 204052.6406
Epoch 11/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 209911.8750 - mse: 209911.8750 - val_loss: 208465.0312 - val_mse: 208465.0312
Epoch 12/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 204272.0156 - mse: 204272.0156 - val_loss: 208407.1406 - val_mse: 208407.1406
Epoch 13/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 234734.0469 - mse: 234734.0469 - val_loss: 206716.2500 - val_mse: 206716.2500
Epoch 14/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 203928.3594 - mse: 203928.3594 - val_loss: 203850.2500 - val_mse: 203850.2500
Epoch 15/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 202013.2500 - mse: 202013.2500 - val_loss: 209374.2500 - val_mse: 209374.2500
Epoch 16/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 220253.5625 - mse: 220253.5625 - val_loss: 209844.8125 - val_mse: 209844.8125
Epoch 17/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 219316.2812 - mse: 219316.2812 - val_loss: 203298.7969 - val_mse: 203298.7969
Epoch 18/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 192117.4531 - mse: 192117.4531 - val_loss: 204572.6719 - val_mse: 204572.6719
Epoch 19/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 220910.2812 - mse: 220910.2812 - val_loss: 203695.7031 - val_mse: 203695.7031
Epoch 20/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 205402.2031 - mse: 205402.2031 - val_loss: 225561.8281 - val_mse: 225561.8281
Epoch 21/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 215825.8125 - mse: 215825.8125 - val_loss: 207298.9688 - val_mse: 207298.9688
Epoch 22/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 196324.2656 - mse: 196324.2656 - val_loss: 209073.1562 - val_mse: 209073.1562
Epoch 23/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - loss: 217336.3750 - mse: 217336.3750 - val_loss: 210956.4219 - val_mse: 210956.4219
Epoch 24/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 210225.0938 - mse: 210225.0938 - val_loss: 201462.5312 - val_mse: 201462.5312
Epoch 25/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 199331.6250 - mse: 199331.6250 - val_loss: 202503.1562 - val_mse: 202503.1562
Epoch 26/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 198089.9219 - mse: 198089.9219 - val_loss: 206775.3125 - val_mse: 206775.3125
Epoch 27/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 227240.4219 - mse: 227240.4219 - val_loss: 200638.3281 - val_mse: 200638.3281
Epoch 28/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 228006.5000 - mse: 228006.5000 - val_loss: 199346.1875 - val_mse: 199346.1875
Epoch 29/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 224981.5469 - mse: 224981.5469 - val_loss: 203726.4844 - val_mse: 203726.4844
Epoch 30/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 221290.0938 - mse: 221290.0938 - val_loss: 203383.0938 - val_mse: 203383.0938
Epoch 31/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 184186.2031 - mse: 184186.2031 - val_loss: 201664.2812 - val_mse: 201664.2812
Epoch 32/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 239291.5938 - mse: 239291.5938 - val_loss: 200467.9219 - val_mse: 200467.9219
Epoch 33/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 202789.1562 - mse: 202789.1562 - val_loss: 204235.2969 - val_mse: 204235.2969
Epoch 34/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 200320.6406 - mse: 200320.6406 - val_loss: 196235.9688 - val_mse: 196235.9688
Epoch 35/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 198831.9062 - mse: 198831.9062 - val_loss: 199720.8281 - val_mse: 199720.8281
Epoch 36/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 210084.2500 - mse: 210084.2500 - val_loss: 198352.4531 - val_mse: 198352.4531
Epoch 37/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 217220.4531 - mse: 217220.4531 - val_loss: 205949.1250 - val_mse: 205949.1250
Epoch 38/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 224163.1094 - mse: 224163.1094 - val_loss: 200153.9844 - val_mse: 200153.9844
Epoch 39/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 209095.3906 - mse: 209095.3906 - val_loss: 195404.7969 - val_mse: 195404.7969
Epoch 40/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 221058.1719 - mse: 221058.1719 - val_loss: 203304.9219 - val_mse: 203304.9219
Epoch 41/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - loss: 222906.3438 - mse: 222906.3438 - val_loss: 200081.5625 - val_mse: 200081.5625
Epoch 42/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 202019.2500 - mse: 202019.2500 - val_loss: 198162.9062 - val_mse: 198162.9062
Epoch 43/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 189132.3438 - mse: 189132.3438 - val_loss: 196845.0938 - val_mse: 196845.0938
Epoch 44/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 215331.0938 - mse: 215331.0938 - val_loss: 199099.5469 - val_mse: 199099.5469
Epoch 45/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - loss: 188040.1406 - mse: 188040.1406 - val_loss: 197091.0625 - val_mse: 197091.0625
Epoch 46/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - loss: 207140.6406 - mse: 207140.6406 - val_loss: 193710.9531 - val_mse: 193710.9531
Epoch 47/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 199632.2812 - mse: 199632.2812 - val_loss: 196601.9844 - val_mse: 196601.9844
Epoch 48/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 220702.5312 - mse: 220702.5312 - val_loss: 199853.2656 - val_mse: 199853.2656
Epoch 49/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 219036.9375 - mse: 219036.9375 - val_loss: 193976.8281 - val_mse: 193976.8281
Epoch 50/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - loss: 206008.2188 - mse: 206008.2188 - val_loss: 193513.3906 - val_mse: 193513.3906
Epoch 51/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 215606.2969 - mse: 215606.2969 - val_loss: 200515.6719 - val_mse: 200515.6719
Epoch 52/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 193142.9531 - mse: 193142.9531 - val_loss: 198760.7500 - val_mse: 198760.7500
Epoch 53/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - loss: 217737.1406 - mse: 217737.1406 - val_loss: 193684.6250 - val_mse: 193684.6250
Epoch 54/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 219011.6406 - mse: 219011.6406 - val_loss: 195590.0938 - val_mse: 195590.0938
Epoch 55/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 213966.9062 - mse: 213966.9062 - val_loss: 192694.4375 - val_mse: 192694.4375
Epoch 56/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 187532.7188 - mse: 187532.7188 - val_loss: 191376.6250 - val_mse: 191376.6250
Epoch 57/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 210415.1250 - mse: 210415.1250 - val_loss: 191432.2344 - val_mse: 191432.2344
Epoch 58/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 198844.8906 - mse: 198844.8906 - val_loss: 191692.7969 - val_mse: 191692.7969
Epoch 59/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 220826.6250 - mse: 220826.6250 - val_loss: 195663.4062 - val_mse: 195663.4062
Epoch 60/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 223357.4219 - mse: 223357.4219 - val_loss: 193510.7344 - val_mse: 193510.7344
Epoch 61/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 177095.1562 - mse: 177095.1562 - val_loss: 193260.0781 - val_mse: 193260.0781
Epoch 62/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 195063.0781 - mse: 195063.0781 - val_loss: 191628.5312 - val_mse: 191628.5312
Epoch 63/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 218451.8906 - mse: 218451.8906 - val_loss: 192490.1406 - val_mse: 192490.1406
Epoch 64/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 212518.9062 - mse: 212518.9062 - val_loss: 216108.9062 - val_mse: 216108.9062
Epoch 65/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 189761.6094 - mse: 189761.6094 - val_loss: 192847.0469 - val_mse: 192847.0469
Epoch 66/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 211731.2656 - mse: 211731.2656 - val_loss: 193732.6875 - val_mse: 193732.6875
Epoch 67/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 201772.2656 - mse: 201772.2656 - val_loss: 191078.3594 - val_mse: 191078.3594
Epoch 68/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - loss: 200706.6875 - mse: 200706.6875 - val_loss: 195093.4375 - val_mse: 195093.4375
Epoch 69/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 184470.1719 - mse: 184470.1719 - val_loss: 188317.4375 - val_mse: 188317.4375
Epoch 70/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - loss: 202959.8906 - mse: 202959.8906 - val_loss: 189117.0938 - val_mse: 189117.0938
Epoch 71/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 201395.5938 - mse: 201395.5938 - val_loss: 189155.7344 - val_mse: 189155.7344
Epoch 72/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 196052.0469 - mse: 196052.0469 - val_loss: 192255.5469 - val_mse: 192255.5469
Epoch 73/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - loss: 197194.9531 - mse: 197194.9531 - val_loss: 189903.7188 - val_mse: 189903.7188
Epoch 74/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - loss: 208316.1250 - mse: 208316.1250 - val_loss: 189088.8594 - val_mse: 189088.8594
Epoch 75/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 205837.7656 - mse: 205837.7656 - val_loss: 188999.1875 - val_mse: 188999.1875
Epoch 76/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 206882.7344 - mse: 206882.7344 - val_loss: 189837.9844 - val_mse: 189837.9844
Epoch 77/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 193676.8125 - mse: 193676.8125 - val_loss: 195521.1406 - val_mse: 195521.1406
Epoch 78/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 205554.2812 - mse: 205554.2812 - val_loss: 187202.9531 - val_mse: 187202.9531
Epoch 79/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 179589.6406 - mse: 179589.6406 - val_loss: 186603.6406 - val_mse: 186603.6406
Epoch 80/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 219356.2188 - mse: 219356.2188 - val_loss: 188877.5781 - val_mse: 188877.5781
Epoch 81/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 187352.6094 - mse: 187352.6094 - val_loss: 194190.5938 - val_mse: 194190.5938
Epoch 82/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 193655.0625 - mse: 193655.0625 - val_loss: 213208.5938 - val_mse: 213208.5938
Epoch 83/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - loss: 192522.3281 - mse: 192522.3281 - val_loss: 185208.6562 - val_mse: 185208.6562
Epoch 84/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 199314.2188 - mse: 199314.2188 - val_loss: 191800.7188 - val_mse: 191800.7188
Epoch 85/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 202249.6719 - mse: 202249.6719 - val_loss: 187041.0312 - val_mse: 187041.0312
Epoch 86/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - loss: 177021.5938 - mse: 177021.5938 - val_loss: 187064.3125 - val_mse: 187064.3125
Epoch 87/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 196243.8750 - mse: 196243.8750 - val_loss: 188328.7969 - val_mse: 188328.7969
Epoch 88/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 196823.8750 - mse: 196823.8750 - val_loss: 186761.9688 - val_mse: 186761.9688
Epoch 89/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 202468.2812 - mse: 202468.2812 - val_loss: 185377.4531 - val_mse: 185377.4531
Epoch 90/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 190594.7812 - mse: 190594.7812 - val_loss: 185919.6719 - val_mse: 185919.6719
Epoch 91/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 183803.7188 - mse: 183803.7188 - val_loss: 194163.5625 - val_mse: 194163.5625
Epoch 92/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 166704.3906 - mse: 166704.3906 - val_loss: 185476.3750 - val_mse: 185476.3750
Epoch 93/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 197545.5781 - mse: 197545.5781 - val_loss: 183674.4219 - val_mse: 183674.4219
Epoch 94/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - loss: 189687.3281 - mse: 189687.3281 - val_loss: 186513.7500 - val_mse: 186513.7500
Epoch 95/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 186303.0625 - mse: 186303.0625 - val_loss: 182033.4844 - val_mse: 182033.4844
Epoch 96/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 199400.9375 - mse: 199400.9375 - val_loss: 182765.9375 - val_mse: 182765.9375
Epoch 97/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 175594.0000 - mse: 175594.0000 - val_loss: 183360.0781 - val_mse: 183360.0781
Epoch 98/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 191115.2812 - mse: 191115.2812 - val_loss: 189494.6094 - val_mse: 189494.6094
Epoch 99/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 201315.7500 - mse: 201315.7500 - val_loss: 183589.3906 - val_mse: 183589.3906
Epoch 100/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 190465.3438 - mse: 190465.3438 - val_loss: 181774.4844 - val_mse: 181774.4844
Epoch 101/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 222278.8750 - mse: 222278.8750 - val_loss: 184144.8906 - val_mse: 184144.8906
Epoch 102/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 191529.7969 - mse: 191529.7969 - val_loss: 184345.5312 - val_mse: 184345.5312
Epoch 103/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 201676.7188 - mse: 201676.7188 - val_loss: 181845.8438 - val_mse: 181845.8438
Epoch 104/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 189408.8594 - mse: 189408.8594 - val_loss: 182894.0938 - val_mse: 182894.0938
Epoch 105/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 178873.8750 - mse: 178873.8750 - val_loss: 226755.5938 - val_mse: 226755.5938
Epoch 106/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 202776.3438 - mse: 202776.3438 - val_loss: 185104.4062 - val_mse: 185104.4062
Epoch 107/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 184414.8906 - mse: 184414.8906 - val_loss: 180850.9844 - val_mse: 180850.9844
Epoch 108/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 200846.0000 - mse: 200846.0000 - val_loss: 179957.1406 - val_mse: 179957.1406
Epoch 109/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 192645.0000 - mse: 192645.0000 - val_loss: 184238.1875 - val_mse: 184238.1875
Epoch 110/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 194527.3438 - mse: 194527.3438 - val_loss: 182847.3594 - val_mse: 182847.3594
Epoch 111/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 204893.0156 - mse: 204893.0156 - val_loss: 180153.9062 - val_mse: 180153.9062
Epoch 112/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 202022.4844 - mse: 202022.4844 - val_loss: 181055.8438 - val_mse: 181055.8438
Epoch 113/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 171736.6250 - mse: 171736.6250 - val_loss: 187572.9531 - val_mse: 187572.9531
Epoch 114/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 6s 4ms/step - loss: 191781.4375 - mse: 191781.4375 - val_loss: 180022.8125 - val_mse: 180022.8125
Epoch 115/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 198904.3281 - mse: 198904.3281 - val_loss: 182759.7188 - val_mse: 182759.7188
Epoch 116/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 192371.7344 - mse: 192371.7344 - val_loss: 181059.6562 - val_mse: 181059.6562
Epoch 117/5000
1202/1202 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 207905.9375 - mse: 207905.9375 - val_loss: 187993.7656 - val_mse: 187993.7656
Epoch 118/5000
 161/1202 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 209565.8594 - mse: 209565.8594

KeyboardInterrupt:

In [285]:
# Evaluate the model
loss, mae = model.evaluate(X_test_norm, y_test)
print(f"Mean Absolute Error: {mae}")

plt.figure(figsize=(14, 7))
plt.plot(history.history['loss'], label='Training Loss')
plt.plot(history.history['val_loss'], label='Validation Loss')
plt.xlabel('Epochs')
plt.ylabel('Loss')
plt.title('Training and Validation Loss')
plt.legend()
plt.show()

AttributeError: 'LinearRegression' object has no attribute 'evaluate'

In [287]:
# Predict the Concrete Compressive Strength for the test dataset 
y_pred = model.predict(X_test_norm)


# Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)

# R-squared
r2 = r2_score(y_test, y_pred)

C:\Users\sasin\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [289]:
r2

-3178.610680606098